[submodule "ext/lmdb"]
    path = ext/lmdb
    url = https://github.com/LMDB/lmdb.git
    branch = stable
[submodule "ext/tpl"]
    path = ext/tpl
    url = https://github.com/troydhanson/tpl.git
    branch = stable
