[submodule "ext/lmdb"]
    path = ext/lmdb
    url = https://github.com/LMDB/lmdb.git
    branch = stable
[submodule "ext/tpl"]
    path = ext/tpl
    url = https://github.com/troydhanson/tpl.git
    branch = stable
[submodule "ext/spookyhash"]
    path = ext/spookyhash
    url = https://github.com/centaurean/spookyhash.git
[submodule "ext/collections-c"]
    path = ext/collections-c
    url = https://github.com/scossu/Collections-C.git
    branch = add_or_get
