CoilMQ>=1.0.1
Cython==0.29
Flask>=0.12.2
HiYaPyCo>=0.4.11
PyYAML>=3.13
arrow>=0.10.0
click-log>=0.2.1
click>=6.7
gevent>=1.3.6
gunicorn>=19.7.1
pytest-flask
rdflib==4.2.2
requests-toolbelt>=0.8.0
requests>=2.18.4
sphinx-rtd-theme>=0.2.4
sphinxcontrib-autoyaml
stomp.py>=4.1.20
wheel>=0.30.0a0
