<!doctype html>
<html>
    <head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} :: LAKEsuperior</title>

        <link href="{{url_for('ldp.static', filename='assets/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('ldp.static', filename='assets/css/bootstrap-theme.min.css')}}" rel="stylesheet">
    {% block extra_js %}{% endblock %}
    {% endblock %}
    </head>
    <body>
    {% block navbar%}
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">LAKEsuperior</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/ldp">Browse Resources<span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Query<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/query/term_search">Term Search</a></li>
                    <li><a href="/query/sparql">SPARQL Query</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/admin/stats">Statistics</a></li>
                    <li><a href="/admin/tools">Tools</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    {% endblock %}
        <main class="container">
            {% block breadcrumbs %}{% endblock %}
            <h1>{{ self.title() }}</h1>
            {% block content %}{% endblock %}
        </main>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{url_for('ldp.static', filename='assets/js/jquery-3.2.1.min.js')}}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{url_for('ldp.static', filename='assets/js/bootstrap.min.js')}}"></script>
    </body>
</html>
